@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.woff2') format('woff2');
}

*::selection {
  color: #000;
  background-color: #67c2ff
}

*::-moz-selection {
  color: #000;
  background-color: #67c2ff
}

* {
  font-family: "Montserrat", system-ui, sans-serif;
}

@layer base{
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000; 
    border-radius: 10px;
    border: 2px solid #fff;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #303030;
  }

  * {
    scrollbar-color: #000 #fff;
    scrollbar-width: thin;
  }
}

.img-navbar {
  width: 100%;
  max-width: 13rem;
  height: auto;
}

.text-navbar, label, .text-ficha, .input-group-text {
  font-size: 16px;
}

h5 {
  font-size: 20px;
}

h3 {
  font-size: 24px;
}

th, td {
  font-size: 14px;
}

@media (max-width: 576px) {
  .img-navbar {
    max-width: 9rem;
  }

  .text-navbar, td {
    font-size: 12px;
  }

  h5 {
    font-size: 16px;
  }

  label, .text-ficha, .input-group-text {
    font-size: 14px;
  }

  h3 {
    font-size: 20px;
  }

}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}