body {
    background: #e7e7e7;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    padding: 10px 45px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

h1 {
    font-size: 8.75rem;
    font-weight: bold;
    color: #e70c;
    margin: 0;
}

h2 {
    margin: 20px 0;
    color: #555;
    font-size: 1.25rem;
}

p {
    color: #777;
    margin:  0;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.button {
    margin-top: 20px;
    margin-bottom: 37px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #2874a8;
}

@media (max-width: 768px) {
    h1 {
        font-size: 6.25rem;
    }

    h2 {
        margin: 15px 0;
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }

    .button {
        margin-top: 15px;
        margin-bottom: 27px;
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 0 10px;
        padding: 10px 25px;
    }

    h1 {
        font-size: 4.375rem;
    }

    h2 {
        margin: 10px 0;
        font-size: 0.875rem;
    }

    p {
        font-size: 0.75rem;
    }

    .button {
        margin-top: 10px;
        margin-bottom: 17px;
        font-size: 0.75rem;
    }
}
